.thumbnail {
    height: auto!important ;
}
.thumbnail .image {
    height: auto!important; 
}

.product_gallery a img {
    margin-top: 0px!important;
    height: 130px;
}
.product_gallery a {
    height: auto!important;
}
.tabpanel {
	margin-top: 90px !important;
}

/*__________________________Flim_____________________________*/

.box-preview-img img {
	width: 85%;
    padding-top: 20px;
}
.box-preview-img input {
	display: none !important;
}
.add--img {
	padding-left: 20%;
}
.btn-action a {
	color: white;
	font-weight: bold;
}
.btn-img {
	width: 86%;
}
.btn-img img {
	width: 100%;
}

.purple {
	background: #007700;
	padding: 10px;
	text-align: center;
}
.red {
	background: #CC0000;
	padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.insert {
	background: #330099;
    padding: 10px;
    width: 92px !important;
    text-align: center;
}
.insert a {
	color: white;
	font-weight: bold;
}

/*_______________Infomation_______________*/
.img-infor {
    padding-bottom: 30px;
}
.preview-info img {
	width: 71% !important;
    padding-top: 0px !important; 
}